@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-centre">Order placed successfully</h1>
        Your Order Number is: @Model
        <img src="~/images/lawn_leaf.jpg"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully!
    </div>
</div>
